h1.centered {
    text-align:center;
}

div.centered {
    text-align:center;
}

body.background {
    background-color:lightgoldenrodyellow
}

.button {
    background-color: orangered;

    border-radius: 8px;
    font-size:16px;
    text-align:center;
    display:inline;
}